---
---

$fa-font-path: "/assets/fonts";

$family-primary: "Roboto Condensed", BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;

@import "font-awesome/font-awesome";
@import "bulma";
@import "ui";

.nav {
  background-color: $black;
  height: 4rem;
}

.nav-item {
  color: $grey-light !important;
  text-transform: uppercase;
  font-size: .9rem;

  &:hover {
    color: $white !important;
  }

  &.is-active {
   color: $white !important;
  }
}

.brand {
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 4px;
  line-height: 24px;

  .nav-item {
    padding-top: 4px;
    padding-bottom: 4px;
  }
}

.shopping-bag-tag {
  padding-left: 9px !important;
  padding-right: 9px !important;
  margin-bottom: 1rem !important;
  margin-left: -.5rem !important;
}

.item-title {
  text-align: center;
  text-transform: uppercase;
}

.sidebar-item {
  &.is-active {
    background-color: $warning !important;
    color: $black !important;
  }
}
