---
layout: default
---

<div class="find">

  <div class="columns">

    <div class="is-half column">
      <img src="{{ page.image }}" />
    </div>

    <div class="is-half column">

      <h1 class="title">{{ page.title }}</h1>

      {{ content }}

      {% if page.is_in_bag == 'true' %}

        <p style="margin-top: 1rem;">
          <a class="button is-warning" href="/mon-panier">
            <span class="icon">
              <i class="fa fa-check"></i>
            </span>
            <span>C'est dans mon panier !</span>
          </a>
        </p>
      {% endif %}

    </div>

  </div>

  <div class="has-text-centered" style="margin-top: 2rem; margin-bottom: 2rem;">
    <h2 class="title">Dernières trouvailles</h2>

    <div class="grid" id="grid">
      {% assign finds_in_bag = site.finds %}
      {% for item in finds_in_bag reversed offset: 0 limit: 6 %}
        {% include partials/find_item.html item=item %}
      {% endfor %}
    </div>
  </div>

</div>
