---
layout: default
---

<div class="find">

  <h1 class="title">{{ page.title }}</h1>

  <div class="columns">

    <div class="is-half column">
      <img src="{{ page.thumbnail }}" />
    </div>

    <div class="is-half column">
      {{ content }}

      {% if page.is_in_bag == 'yes' %}
        <p style="margin-top: 1rem;">
          <a class="button" href="/mon-panier">
            <span class="icon">
              <i class="fa fa-shopping-bag"></i>
            </span>
            <span>C'est dans mon panier !</span>
          </a>
        </p>
      {% endif %}
    </div>

  </div>

</div>
